fastapi
uvicorn[standard]

sqlalchemy==2.0.36
greenlet==3.1.1

psycopg2-binary
alembic

python-jose[cryptography]
passlib[bcrypt]
python-multipart

boto3
redis

pydantic-settings
python-dotenv

python-jose
bcrypt==4.0.1
email-validator

pyjwt

asyncpg

redis[asyncio]
python-magic

